@tailwind base;
@tailwind components;
@tailwind utilities;
.box-item {
    border: 1px solid #000; /* Adds a black border around the box */
    padding: 20px; /* Adds some padding inside the box */
    margin: 650px; /* Adds some margin outside the box */
    border-radius: 5px; /* Rounds the corners of the box */
    background-color: #f9f9f9; /* Sets a background color for the box */
    top:-430px;
    left:-430px;
}